/* Empty. Add your own CSS if you like */
.img {
	width:98%;
	margin-left: 1%;
	}
.hide {
	display: none;
}

.content {
	width: 98%;
	margin-left: 1%;
}

.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
  		-ms-transform: translateX(-50%);
  		transform: translateX(-50%);

}